/* 
 * mcms Base CSS
 *
 *
 *
*/


/*
 * 
 * Base CSS for Gutenberg & WordPress from TwentyTwentyTwo
 * https://github.com/wordpress/twentytwentytwo/ && https://wordpress.org/themes/twentytwentytwo/
 */

/*
 * Font smoothing.
 * This is a niche setting that will not be available via Global Styles.
 * https://github.com/WordPress/gutenberg/issues/35934
 */

 body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

/*
 * Text and navigation link styles.
 * Necessary until the following issue is resolved in Gutenberg:
 * https://github.com/WordPress/gutenberg/issues/27075
 */

a {
	text-decoration-thickness: 1px;
	text-underline-offset: 0.25ch;
}

a:hover,
a:focus {
	text-decoration-style: dashed;
}

a:active {
	text-decoration: none;
}

.wp-block-navigation .wp-block-navigation-item a:hover,
.wp-block-navigation .wp-block-navigation-item a:focus {
	text-decoration: underline;
	text-decoration-style: solid;
}

/*
 * Search and File Block button styles.
 * Necessary until the following issues are resolved in Gutenberg:
 * https://github.com/WordPress/gutenberg/issues/36444
 * https://github.com/WordPress/gutenberg/issues/27760
 */

.wp-block-search__button,
.wp-block-file .wp-block-file__button {
	background-color: var(--wp--preset--color--primary);
	border-radius: 0;
	border: none;
	color: var(--wp--preset--color--background);
	font-size: var(--wp--preset--font-size--medium);
	padding: calc(.667em + 2px) calc(1.333em + 2px);
}

/*
 * Button hover styles.
 * Necessary until the following issue is resolved in Gutenberg:
 * https://github.com/WordPress/gutenberg/issues/27075
 */

.wp-block-search__button:hover,
.wp-block-file .wp-block-file__button:hover,
.wp-block-button__link:hover {
	opacity: 0.90;
}

/*
 * Alignment styles.
 * These rules are temporary, and should not be relied on or
 * modified too heavily by themes or plugins that build on
 * Twenty Twenty-Two. These are meant to be a precursor to
 * a global solution provided by the Block Editor.
 *
 * Relevant issues:
 * https://github.com/WordPress/gutenberg/issues/35607
 * https://github.com/WordPress/gutenberg/issues/35884
 */

.wp-site-blocks,
body > .is-root-container,
.edit-post-visual-editor__post-title-wrapper,
.wp-block-group.alignfull,
.wp-block-group.has-background,
.wp-block-cover.alignfull,
.is-root-container .wp-block[data-align="full"] > .wp-block-group,
.is-root-container .wp-block[data-align="full"] > .wp-block-cover {
	padding-left: var(--wp--custom--spacing--outer);
	padding-right: var(--wp--custom--spacing--outer);
}

.wp-site-blocks .alignfull,
.wp-site-blocks > .wp-block-group.has-background,
.wp-site-blocks > .wp-block-cover,
.wp-site-blocks > .wp-block-template-part > .wp-block-group.has-background,
.wp-site-blocks > .wp-block-template-part > .wp-block-cover,
body > .is-root-container > .wp-block-group.has-background,
body > .is-root-container > .wp-block-cover,
body > .is-root-container > .wp-block-template-part > .wp-block-group.has-background,
body > .is-root-container > .wp-block-template-part > .wp-block-cover,
.is-root-container .wp-block[data-align="full"] {
	margin-left: calc(-1 * var(--wp--custom--spacing--outer)) !important;
	margin-right: calc(-1 * var(--wp--custom--spacing--outer)) !important;
	width: unset;
}

/* Blocks inside columns don't have negative margins. */
.wp-site-blocks .wp-block-columns .wp-block-column .alignfull,
.is-root-container .wp-block-columns .wp-block-column .wp-block[data-align="full"],
/* We also want to avoid stacking negative margins. */
.wp-site-blocks .alignfull:not(.wp-block-group) .alignfull,
.is-root-container .wp-block[data-align="full"] > *:not(.wp-block-group) .wp-block[data-align="full"] {
	margin-left: auto !important;
	margin-right: auto !important;
	width: inherit;
}

/*
 * Responsive menu container padding.
 * This ensures the responsive container inherits the same
 * spacing defined above. This behavior may be built into
 * the Block Editor in the future.
 */

.wp-block-navigation__responsive-container.is-menu-open {
	padding-top: var(--wp--custom--spacing--outer);
	padding-bottom: var(--wp--custom--spacing--large);
	padding-right: var(--wp--custom--spacing--outer);
	padding-left: var(--wp--custom--spacing--outer);
}

/*
 * Yoast SEO Plugin Support
 * Formatting FAQ & How to blocks
 */
  
.schema-faq-question {
      position: relative;
      background: #f9f9f9;
      margin: 10px;
      padding: 15px 15px 15px 15px;
      display: block;
      width:100%;
      cursor: pointer;
    }
    .schema-faq-answer {
      padding: 0px 15px;
      margin: 5px 0;
      width:100%!important;
      height: 0;
      overflow: hidden;
      z-index: -1;
      position: relative;
      opacity: 0;
      -webkit-transition: .5s ease;
      -moz-transition: .5s ease;
      -o-transition: .5s ease;
      transition: .5s ease;
    }
    .schema-faq-question:hover ~ .schema-faq-answer {
      height: auto;
      opacity: 1;
      padding: 15px;
    }
    .schema-faq-question::after {
      position: absolute;
      content: "+";
      right: 20px;
    }
    .schema-faq-question:hover::after {
      position: absolute;
      content: "-";
      right: 20px;
    }
    ol.schema-how-to-steps, ul.schema-how-to-steps {
      counter-reset: rowNumber;
  }
  li.schema-how-to-step {
      position: relative;
      padding-left: 48px;
      list-style-type: none;
      line-height: 1.7;
  }
  li.schema-how-to-step:not(:empty):before {
    display: inline-block;
      position: absolute;
      width: 25px;
      height:25px;
      left: 0;
      content: counter(rowNumber);
      counter-increment: rowNumber;
      font-size: 1rem;
    font-weight: 700;
      color: #fff;
      text-align: center;
      line-height: 15px;
      padding: 5px;
      background: #808080;
      border-radius: 100%;
        -webkit-box-sizing: inherit;
      box-sizing: inherit;
  }
  .schema-how-to-description {
  margin-bottom:32px !Important;
  }
  
  /*
   * Format Byline, Autthor, Posted On, Tags, Edit link
   */

  .byline, .byline > .author > a .url, .posted-on, .cat-links, .tags-links, .edit-link {
    display: block;
    font-size: 14px;
    font-style: italic;
  }

  /*
   *  Post Featured Image Shadow & Border Radius
   */

   .wp-block-post-featured-image {
    border-radius: 5px;
    box-shadow: 1px 1px 25px #808080;
    }
    .wp-block-post-featured-image img {
        border-radius: 5px;
    }

  /*
   *  Formatting Pre, Blockquote, code, kbd, samp, var
   */
    pre {
        margin-bottom: 1rem;
        padding: 0.75rem;
        max-width: 100%;
        overflow: auto;
        white-space: pre;
        white-space: pre-wrap;
        word-wrap: break-word;
        border: #e2e6e7 1px solid;
        border-left: #e2e6e7 6px solid;
      }
      pre {
        display: block;
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: 90%;
        color: #373a3c;
      }
      blockquote {
        margin: 1.5rem 0 1.5rem 1rem;
        padding: 0.75rem 0.75rem 0.75rem 1rem;
        font-style: italic;
          border-left:none !Important;
      }
      blockquote p:first-letter {
        padding-left: 2rem;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNpi/P//PwM1ARMDlQHL4+cv0MXcgDgciM2AmANKv8djBop6FiQJDSCeBMSuSGKfgZgRh0FY1cMM1APiHUAsiabpHw7DcKoHhSEXEC/GIgkCX4AYPdbwqgcZGAG1ERkcB2JfILYG4o9ocnjVg7wcgiZ5HhrQX3B4F696kAu10BQ04TGMi5B6kAv5kCR/AvEDIBaC8kHh9wEpHDkIqWdBC3Q2IN6HJAZKf6Zo6RCvehY054PSnCASnxVPOsSqnlDW+01izvtN9bw8NAxkxSPPSqQYXA4Uy6/wBP57tGTyn5B6xkFfYgMEGACpdj777TWNXAAAAABJRU5ErkJggg==);
        background-repeat: no-repeat;
        background-position: 0px -2px;
      }
      code {
        padding: 0.2rem 0.4rem;
        font-size: 90%;
        color: #bd4147;
        background-color: #f7f7f9;
        border-radius: 0.25rem;
      }
      code, kbd, pre, samp, var {
        font-family: monospace,monospace;
        font-size: 1em;
        white-space: pre-wrap;
        margin-bottom:1rem;
      }
     
  /*
   *  Input formatting
   */

   input[type=text], input[type=email], input[type=url], input[type=password], input[type=search], input[type=number], input[type=tel], input[type=date], input[type=month], input[type=week], input[type=time], input[type=datetime], input[type=datetime-local], input[type=color], .site textarea {
    border: 1px solid #2f2f5b;
    border-radius: 0;
    color: #2f2f5b;
    line-height: 1.7;
    padding: 10px;
    margin: 0 2px;
    max-width: 100%;
    }

  /*
   *  Adding block column bottom margin
   */
    .wp-block-column {margin-bottom:2rem;}

  /*
   *  Formatting tags
   */

    .taxonomy-category.wp-block-post-terms.has-small-font-size a {
        background: var(--wp--preset--color--primary);
        color: white;
        padding-right: 5px;
        padding-left: 5px;
        padding-top: 2px;
        padding-bottom: 2px;
        text-decoration: none;
        border-radius: 5px;
    }
.box-shadow {
  box-shadow:0 20px 25px -5px rgb(0 0 0/0.1),0 8px 10px -6px rgb(0 0 0/0.1);
}

.round {
  border-radius:5px;
}